* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
}
div {
    width: 200px;
    height: 200px;
    transition: 3s;
    background-color: orange;
    margin: 40px;
    margin-top: 200px;
}
.d1:hover {
    transform: translate(50px, 50px);
}
.d2:hover {
    transform: rotate(45deg);
}
.d3:hover {
    transform: scale(1.5);
}
.d4:hover {
    transform: skew(20deg, 10deg);
}