* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    background-color: #00879E;
    color: white;
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 10px 20px;
}
.navbar li {
    position: relative;
    padding: 10px 15px;
    cursor: pointer;
}
.navbar li:hover {
    background-color: #003092;
    border-radius: 5px;
}
.dropdown  {
    position: relative;
}
.dropdown-menu  {
    display: none;
    position: absolute;
    background-color: #4C585B;
    border-radius: 5px;
    min-width: 150px;
    list-style-type: none;
    padding: 5px 0;
    top: 100%;
    left: 0;
}
.dropdown-menu li {
    color: white;
    padding: 10px;
    padding: 10px;
}
.dropdown-menu li:hover {
    background-color: #00879E;
    color: white;
}
.dropdown:hover .dropdown-menu {
    display: block;
}